

body {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
}

.master-nav {
 

    width: 100%;
    background-color: #2b2a1d !important;
    min-height: 4rem;
    text-align: center;
    vertical-align: middle
    overflow: hidden;
    }


div.master-nav>a {
    width: 19%;
   height: 100%;
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff6d5;
}



    div.master-nav > a:hover:not(.icon) {
        color: #ce6000;
        text-decoration-line: none;
    }

    div.master-nav > a.alive {
            color: #ce6000;
    }
    div.master-nav> a > p {
            font-size: .8em;
            text-transform: none;
            font-style: oblique;
            margin-bottom: 0;
       }
.master-footer {
    height: 6em;
    width: 100%;
    background-color: #2b2a1d;
    color: #d6ccad;
    position: fixed;
    bottom: 0;
    font-size: .8em;
  
}
.footer-center {
    text-align: center;

}
.italic { font-style: italic; font-size: .8em; margin-left: 1%; margin-top: .5%}
span.fa, span>a.fa{margin-left:1%}
.mb-logo {
    overflow: visible;
    width: 12%;
    position: absolute;
    top: 0;
    right: 44%;
    left: 44%;
    z-index: 10;
    
}
a.fa-envelope{color:#d6ccad}
ul.contact-links > li > a, ul.contact-links > li {
    font-size: 1.8vh;
    margin-right:1%;
    display: inline;
    text-align: center;
    color: #d6ccad !important

}
ul.contact-links, .sig-line{ margin: 0;}
.sig-line{letter-spacing: .2vw}

@media screen and (max-width: 1000px) {

    .mb-logo {
        width: 20%;
        position: absolute;
        top: 0;
        right: 40%;
        left: 40%;
    }
}

@media screen and (max-width: 600px) {
    .master-nav a:not(:last-child) {display: none;}
    .master-nav a.icon {
        
     display: block;
    }
        .mb-logo { width: 40%; position: absolute;
            top: 0;
            right: 30%;
            left: 30%;}
    }
@media screen and (max-width: 600px) {
    .master-nav.responsive {position:static;}
    .master-nav.responsive a.icon {
        position: relative;
        text-align: center !important;
        font-size: 1.8rem !important;
    }
    .master-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
        font-size: 1rem;
        overflow: visible;
        margin-bottom: 1.5%;
        padding-left: 1%;

                      
    }
    .master-nav.responsive a p { display: none;}
}

.master-nav .icon{ display: none; font-size: 1.8rem;}
