

body {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;

}

.master-nav {
 
   
   
    padding: 0;
    width: 100%;
    background-color: #2b2a1d !important;
    height: 4em;
    text-align: center;
    color: #fff6d5;
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;

    }
ul{padding:0}

li.page-link {
    width: 19%;
    height: 100%;
    list-style-type: none;
    display: inline-block;
    background-color: #2b2a1d;
    border: none;
    margin-top:.5em;
    text-align: center;
    vertical-align: middle;

}

    li.page-link:hover {
        background-color: #2b2a1d;
        
    }
    li.page-link > a:hover {
        color: #ce6000;
        text-decoration-line: none;
    }


    li.page-link > a {
        color: #fff6d5;
        display: inline-block;
        margin: auto 0 0 auto;
    }
        li.page-link > a.alive {
            color: #ce6000;
        }
        li.page-link > a > p {
            font-size: .8em;
            text-transform: none;
            font-style: oblique;
            color: #d6ccad;
            margin-bottom: 0;
            letter-spacing: 0;
        }
.master-footer {
    height: 6em;
    width: 100%;
    background-color: #2b2a1d;
    color: #d6ccad;

    position: fixed;
    bottom: 0;
    font-size: .8em;
  
}
.footer-center {
    text-align: center;

}
.italic { font-style: italic; font-size: .8em; margin-left: 1%; margin-top: .5%}
/*ul>li>a>i, li, li>a{ display: inline; text-align: center;}*/
span.fa, span>a.fa{margin-left:1%}
.mb-logo {
    overflow: visible;
    width: 12%;
    position: absolute;
    top: 0;


    right: 44%;
    left: 44%;
    z-index: 10;
    
}
a.fa-envelope{color:#d6ccad}
ul.contact-links > li > a, ul.contact-links > li {
    font-size: 1.8vh;

    display: inline;
    text-align: center;
    color: #d6ccad !important

}
ul.contact-links, .sig-line{ margin: 0;}
.sig-line{letter-spacing: .2vw}
