<h1>Welcome to Mountain Bound...let's adventure!</h1>


<a asp-action="NationalParks" asp-area="Trailhead" asp-controller="Directory">Trailhead</a>
<a asp-action="ProductDirectory" asp-area="TradingPost" asp-controller="Product">Trading Post</a>
<a asp-action="Index" asp-area="Campfire" asp-controller="Message">Campfire</a>
