<h1>Welcome to Mountain Bound...let's adventure!</h1>


<a asp-action="NationalParks" asp-area="Trailhead" asp-controller="Home">Trailhead</a>
<a asp-action="NationalParks" asp-area="TradingPost" asp-controller="Home">Trading Post</a>
