@model Topic


<body>
<div>
    <form asp-action="CreateTopic" method="post">
        <label asp-for="Heading"></label>
        <input asp-for="Heading" />        
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <input type="submit" value="New Topic"/>
    </form>

</div>
</body>
