@model List<Topic>
<div class="">
    <h1>Campfire</h1>
    <h3>Mountain Bound user</h3>
    <h6>Click on any of the Topics below to join the discussion...</h6>
    <div class="table-responsive">
        <table class="campfire-tbl table table-striped table-bordered table-md">
            <thead><th>Category</th></thead>
            @if (Model == null)
            {
                <tr><td>No Topics created yet</td></tr>

            }
            else
            {
                foreach (var topic in Model)
                {
                    <tr>
                        <td>
                        <p><a asp-action="GetMessages" asp-route-id="@topic.TopicId">@topic.Heading</a></p>
                        </tr>
                }
            }
        </table>
    </div>
</div>