@{ Layout = "/Views/Shared/_Master.cshtml"; }



        <div class=" row m-1 p-1">
            <div class="categories text-center col-lg-2 col-sm-12">@await Component.InvokeAsync("Nav")</div>
            <div class="col-lg-10 col-sm-12">
                @RenderBody()
            </div>
        </div>


