<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="/lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
</head>
<body>
<h1>Master layout for entire site</h1>
<h2>Navbar</h2>
<div>
    @RenderBody()
</div>
</body>
</html>
