<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="/lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="~/CSS/NavStyles.css" rel="stylesheet" />
    <link href="~/CSS/SiteStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">


</head>
<body >

    <div>@await Html.PartialAsync("MasterNav.cshtml")</div>
<div class="content" >
    @RenderBody()
</div>

<div>@await Html.PartialAsync("MasterFooter.cshtml")</div>

</body>
</html>
