<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="/lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="~/CSS/NavStyles.css" rel="stylesheet" />
    <link href="~/CSS/SiteStyles.css" rel="stylesheet" />



</head>
<body>

    <div>@await Html.PartialAsync("MasterNav.cshtml")</div>
    <div class="content">
        @RenderBody()
    </div>

    <div>@await Html.PartialAsync("MasterFooter.cshtml")</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/Scripts/JavaScript.js"></script>
</body>
</html>
