<link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />

<div class="master-footer">


  
    <div class="footer-center">
        <p class="sig-line"><em>Created by: Beth Hart</em><span class="fa fa-phone-square"> 206-476-7091</span><span><a class="fa fa-envelope" href="mailto:CodeByHart@gmail.com"> CodeByHart@gmail.com</a></span></p>

        <ul class="contact-links">
            <li><a href="https://www.linkedin.com/in/beth-hart/" class="fa fa-linkedin" target="_blank"></a></li>
            <li><a href="https://github.com/error-driven-dev" class="fa fa-github" target="_blank"></a></li>
@*            <li><a href="http://www.CodeByHart.com" target="_blank">Website</a></li>*@
        </ul>
    </div>
    <p class="italic">*Mountain Bound is a demo website built on C#, Html, CSS, JavaScript, Asp.Net Core MVC, MS SQL Server, Entity Framework Core, Bootstrap.</p>
    
</div>

