   <div class="master-nav">
    <ul class="">
        <li class="page-link">
            <a class="@(ViewContext.RouteData.Values["area"]?.ToString() == "Trailhead" ? "alive":"dead")" asp-action="NationalParks" asp-area="Trailhead" asp-controller="Directory">Trailhead<p>Trail Directory</p></a>
        </li>
        <li class="page-link">
            <a class="@(ViewContext.RouteData.Values["area"]?.ToString() == "TradingPost" ? "alive":"dead")" asp-action="ProductDirectory" asp-area="TradingPost" asp-controller="Product">Trading Post<p>Gear Store</p></a>
        </li>
        <li class="page-link">
            <a asp-action="Index" asp-controller="Home"></a>
        </li>
        <li class="page-link">
            <a class="@(ViewContext.RouteData.Values["area"]?.ToString() == "Campfire" ? "alive":"dead")" asp-action="Index" asp-area="Campfire" asp-controller="Message">Campfire<p>Message Board</p></a>
        </li>
        <li class="page-link">
            <a >Admin<p>Coming soon!</p></a>
        </li>
    </ul>
    <a href="/"><img class="mb-logo" src="~/images/mbLogo.png" /></a>
</div>
