        <div class="master-footer">
    <div class="footer-content">
       
            <p>Mountain Bound is a demo website built on C#, Html, CSS, JavaScript, Asp.Net Core MVC, MS SQL Server, Entity Framework Core, Bootstrap.</p>

            <ul class="contact-links">
                <li>Created by: Beth Hart</li>
                <li>Phone:</li>
                <li>Email</li>

                <li>LinkedIn</li>
                <li>GitHub</li>
                <li>Portfolio</li>
            </ul>
           
    </div>
    <div class="credits "><p class="">Photo Credits</p></div>
</div>
